# Basic analysis

In [ ]:
# if i want to get first 5 element 
df.head()

# if i want to get last 5 element 
df.tail()

#if i want to check the datatype of any column
df.dtypes
# lets say humne sirf integer datatype hi chahiye baki sab ko filter karna ho than 
drinks.select_dtypes(include='number')

# if i want to get more mathematical information 
df.describe()

# if we want to find if there is ant null value and if yes how many are their than we can use 
df.isnull().sum()

# if we want to fill all the NAN values will any specific thing than we can use 
df.fillna(0)

# if we want to rename any columns than 
df.rename(columns = {'name':"name_of_person" , "place":"birth_place"} , inplace = True)
# here inplace will make sure that changes are made permanently 

# if we want to convert any specific columns from int to float or any other datatype
df['marks'] = df['marks'].astype(float)

# agar hume nan ki values ko bhi count karna ho jo orginally toh count nhi hoti than 
mask = df['search_conducted'] == False 
df[mask]['search_type'].value_counts(dropna=False)

# agar koi string mai we have to check wheather a particular word is coming or not than we can use 
df['frisk']  = df['search_type'].str.contains("Protective Frisk")

# agar hume year wise seperate karna ho and koi find karna ho than 
df['stop_date'].str.slice(0,4).value_counts()

# agar hume more than one column ko combine karna ho than 
combined = df.stop_date.str.cat(df.stop_time , sep = " " )
df['stop_datetime'] = pd.to_datetime(combined)
# this will have a datetime datatime so if we want to access this than we can use 
df['stop_datetime'].dt.year

# if we want to remove none value and not nan value than we can use 
a = students.dropna(subset=['name'] , inplace=True)

# loc function

In [ ]:
# It is used to detect a specific row through specific filtering 
df.loc([df['name'] == "het shah"])

# i-loc function

In [ ]:
# it is used to detect a specific through index number 
#lets say if i want to get the name which is present in 3 row and 4 column that i will write 
df.iloc[3][4]

# at function

In [ ]:
# if we want to get specific index row and from a specific column than 
df.at[1,'city']

# How to add and drop column

In [ ]:
# To drop a specific column 
df.drop('salary' , axis=1 , inplace)
# axis=1 will make sure that it drops from column only 

# to add a specific column 
df["new column name"] = df["old column"]*2

# If we need to drop columns where all columns are nan than we can use 
df.dropna(axis='columns' , how='all')

# Group by method in pandas

In [ ]:
# groupby method is used to catogorised it into specific values
df.groupby("job profile")['salary'].sum()

# agar kahi pucha ho kitne values hai after groupby and asi koi particular column na ho than 
a.groupby('driver_gender')['driver_gender'].value_counts(normalize = True)
# Here normalize = true will give the values in the form of percentage 

# agar kahi pe more than one values ho after filtering but hume specific ka hi chahiye ho than we can use 
df.groupby('driver_gender').violation.value_counts().loc[: ,"Speeding"]

# Merging in pandas

In [ ]:
df.merge(d1 , d2 , on='salary' , how='inner')
# in on attribute we have to specific the column through which we have to merge two dataframe 

# how will have four values 
# 1. "inner" it will just behave like intersection 
# 2. "outer" it will just behave like union 
# 3. "left" it will just behave like a-b value 
# 4. "right" it will just behave like b-a value

# Advanced Analysis

In [ ]:
# agar koi row ki values ko columns mai lena ho than we can use 
    a = weather.pivot(index='month' , columns='city' , values='temperature')
    return a
# agar hume koi particular columns ko rows mai convert karna ho and also new columns bhi add karna ho than 
   return report.melt(id_vars='product',value_vars=['quarter_1','quarter_2','quarter_3','quarter_4'], var_name='quarter',value_name='sales')